/*-- this is background */
body{
   text-align: center;
   background:  #9099A2;
   
   margin: 100px;
   background-image: url("angelisland.jpg");
   no-repeat center center fixed; 
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;    
}
/* **************************************************************************************************************************************************************************** */
h1{

  color: black;
  font-size: 50px;
  font family: Verdana, Geneva, sans-serif;
}

nav ul{
  margin:0;
}

#menu-outer{
    height: none;
}


.elements{
    display:inline-block;

}

.btn .button{
    background-color: none;
    cursor: pointer;
     border: 
}

.btn .button:hover{
    background-color: aliceblue;
}

.button:active{
    background-color:aliceblue;
      box-shadow: 0 5px #666;
  transform: translateY(4px);
}




ul#horizontal-list{
     padding: 10px;
}

ul#horizontal-list li{
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}



/* ************************************************************** */
#one{
 float:left;
 
}

#two{
 float:right;   
}

#three{
float:left;
clear: left;

}

#four{
float: right;
}
.lineUp{
 text-align: center;
    background-color: lightsteelblue;
    width: 450px;
    border: 25px ;
    padding: 3%;
    margin: 25px;
    image-orientation: center;
    
    }

.anitextOne{
    align-self: center;
    
animation: fadeAndScale 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeAndScale{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}


.fadeImage0ne{
animation: fadeIn 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeIn{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}

/* ************************************** */

.anitext2wo{
    align-self: center;
animation: fadeAndScale 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeAndScale{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}


.fadeImage2wo{
animation: fadeIn 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeIn{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}
/* ************************************** */


.anitext3hree{
    align-self: center;
animation: fadeAndScale 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeAndScale{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}


.fadeImage3hree{
animation: fadeIn 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeIn{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}
/* ************************************** */
.anitext4our{
    align-self: center;
animation: fadeAndScale 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeAndScale{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}


.fadeImage4our{
animation: fadeIn 10s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: right;

}

@keyframes fadeIn{
    from{
    opacity: 0;
    transform scale3d(.75, .75, 1);
    }
    to{
    opacity: 1;
    transform: scale3d(1,1,1);
    }

}
/* **************************************************************************************************************************************************************************** */





/* **************************************************************************************************************************************************************************** */

nav ul li a{
  color: aliceblue;
}

/*-- this is header */
p{
  color: white;
  padding: 10px;
  margin: 0;
    }